@import url("reset.css");


body{
    color: black;
    font-family: 'Times New Roman','Arail','Noto Sans TC', sans-serif;
    /* 'PMingLiU' */
}

a{
    text-decoration: none;
    text-align: center;
    color: white;
    display: block;
}

P{
    line-height: 1.4;
}

header{
    background-color: #213375;
    background-position:center center;
    background-size:cover;
    height: 550px;
}


/* header 最外層 */
.wrapper{
    width: 1200px;
    margin: 0 auto;
}


/* header main nav */
.main-nav img{
    width: 120px;
}

.main-nav{
    font-family: Arial;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding-top: 50px;
}

.main-nav ul{
    display: flex;
    width: 800px;
    margin-left: 308px ;
    /* padding-left: 250px; */
}

.main-nav li{
    font-size: 15px;
    flex-grow: 1;
    flex-basis: 0;
}

.main-nav a{
    line-height: 40px;
}

.main-nav a:hover{
    color: #FFDC59;
}
/* header main nav end */

/* header right nav */
.right-nav{
    width: 40px;
    float: right;
    padding-top: 217px;
}

.right-nav img{
    width: 30px;
}

header p{
    color: #FFDC59;
    font-size: 90px;
    margin-left: 280px;
}

header h1{
    color: white;
    font-size: 48px;
    text-align: center;
    letter-spacing: 5px;
}

.events_pic01{
    width: 600px;
    margin: 0 auto;
}

.events_pic01 img{
    padding-top: 40px;
    float: right;
}
/* header 最外層  end*/


/* container 最外層 */

.container{
    background-image: url(../img/backgroundbn.png) ;
    background-repeat: left top repeat ;
}

/* section wrapper 最外層 */
.section_wrapper{
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

/* breadcrumbs 麵包屑 */
.breadcrumb{
    display: flex;
    padding-top: 32px;
}
.breadcrumb a{
    color: #213375;
    line-height: 30px;
}

.breadcrumb_list{
    background-color: #FFDC59;
    width: 50px;
    height: 30px;
    border-radius: 10px;
}

.breadcrumb a:hover{
    color: #FFDC59 ;
}

.breadcrumb_list + li::before{
    content: '>';
    display: inline-block;
    padding: 10px;
    color: #213375;
  }

.breadcrumb_list:hover{
    background-color: #213375;
}

.current{
    background-color: #C0E3EE;
    width: 45px;
    height: 25px;
    border-radius: 10px;
    color: #213375;
    padding-top: 7px;
    padding-left: 7px;
}
/* breadcrumbs 麵包屑 end */



/* -----------section events--------- */
.events_title {
    margin: 0 auto;
    background-color: #C0E3EE;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 60px;
}

.events_title h2{
    font-size: 30px;
    text-align: center;
    line-height: 50px;
}

/* 
.yellow_area_top{
    background-color: #FFDC59;
    height: 320px;
    border: #213375 3px solid;
    position: absolute;
    left: 0;
    bottom:0px;
    
} */
/* 
.yellow_area_bottom{
    width: 100%;
    width: 1200px;
    height: 320px;
    background-color: #FFDC59;

} */

/* -------section event---------- */
.events_list{
    display: flex;
    justify-content: center;
    padding-top: 85px;
    position: relative;
    z-index: 2;
}

.events_img{
    margin-left: 20px;
    border: 10px solid white;
    width: 480px;
    height: 480px;
    box-shadow: 8px 10px 5px gainsboro;
    display: block;
    margin-bottom: 48px;
}

.yellow_area01{
    background: #FFDC59;
    width: 1440px;
    height: 320px;
    display: block;
    position: absolute;
    top: 372px;
    left: -130px;
    z-index: -1;
}


/* -------section event-text---------- */

.events_text01{
    border: 2px solid black;
    box-sizing: border-box;
    width: 525px;
    height: 175px;
    border-radius: 12px;
    padding: 25px 25px 25px 45px;
}

.events_bigtitle h3{
    font-size: 30px;
    letter-spacing: 5px;
    margin-bottom: 10px;
}

.events_text01 p{
    font-size: 22px;
    letter-spacing: 3px;
}

.events_text02 p{
    font-size: 22px;
    letter-spacing: 3px;
}

.events_text02{
    border: 2px solid black;
    box-sizing: border-box;
    width: 525px;
    height: 175px;
    border-radius: 12px;
    padding: 25px 25px 25px 45px;
    margin-left: 22px;
}


/* -------section buttom-------- */
.buttom_gp{
    display: flex;
    margin: 0 auto;
    width: 1100px;
    justify-content: space-around;
    padding: 30px;
}

.buttom{
    width: 150px;
    height: 50px;
    background-color: #213375;
    border-radius: 15px;
    margin-top: 20px;
}

.buttom a{
    font-size: 20px;
    line-height: 50px;
}

/* ------section news--------- */
.news_title {
    margin: 0 auto;
    background-color: #C0E3EE;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 100px;
}

.news_title h2{
    font-size: 30px;
    text-align: center;
    line-height: 50px;
}

.news_list{
    display: flex;
    justify-content: center;
    padding: 85px 20px 50px 0px;
    position: relative;
    z-index: 1;
}


.news_img{
    margin-left: 20px;
    border: 10px solid white;
    width: 480px;
    height: 480px;
    box-shadow: 8px 10px 5px gainsboro;
    margin-bottom: 48px;
}


.yellow_area02{
    background: #FFDC59;
    width: 1440px;
    height: 320px;
    display: block;
    position: absolute;
    top: 372px;
    left: -130px;
    z-index: -1;
}

/* -------section news-text---------- */

.news_text01{
    border: 2px solid black;
    box-sizing: border-box;
    width: 525px;
    height: 175px;
    border-radius: 12px;
    padding: 25px 25px 25px 45px;
    margin-right: 22px;
}

.news_bigtitle h3{
    font-size: 30px;
    letter-spacing: 5px;
    margin-bottom: 10px;
}

.news_text01 p{
    font-size: 22px;
    letter-spacing: 3px;
}

.news_text02 p{
    font-size: 22px;
    letter-spacing: 3px;
}

.news_text02{
    border: 2px solid black;
    box-sizing: border-box;
    width: 525px;
    height: 175px;
    border-radius: 12px;
    padding: 25px 25px 25px 45px;
    margin-left: 22px;
}

h4{
    color: #828282;
    text-align: center;
    font-size: 30px;
    margin: 30px 0px;
    letter-spacing: 5px;
}

.ig_icon{
    margin: 0 450px;
    width: 100px;
    height: 100px;
    display: flex;
}

.ig_icon img{
    width: 100%;
}

.ig_account_text{
    margin-top: 25px;
    color: #828282;
    font-size: 18px;
    padding-left: 20px;

}

.bottom_wrapper{
    width: 1366px;
    margin: 0px auto;
    padding: 50px 0px;
}

.ig_photo{
    display: flex;
    justify-content: space-between;
}

.ig_photo li{
    display: flex;
    width: 240px;
    height: 240px;
}
/* -------section news text end---------- */


/* Totopbuttom */
.totop-arrow {
	width: 2.5rem;
	height: 2.5rem;
	padding: 0;
	margin: 0;
	border: 0;
	border-radius: 20%;
	/* opacity: 0.9; */
	background: #FFDC59;
	cursor: pointer;
	position:fixed;
	right: 1rem;
	bottom: 1rem;
	display: none;
}
.totop-arrow::before, .totop-arrow::after {
	width: 18px;
	height: 5px;
	border-radius: 3px;
	background: #213375;
	position: absolute;
	content: "";
}
.totop-arrow::before {
	transform: rotate(-45deg) translate(0, -50%);
	left: 0.5rem;
}
.totop-arrow::after {
	transform: rotate(45deg) translate(0, -50%);
	right: 0.5rem;
}
.totop-arrow:focus {outline: none;}




/* footer start */
footer{
    height: 550px;
    background-color:#213375 ;
    text-align: center;
}

footer h1{
    color: white;
    font-size: 30px;
    letter-spacing: 20px;
    line-height: 1.6;
    padding-top: 48px;
}

footer h2{
    color: #FFDC59;
    font-size: 30px;
    font-family: 'Times New Roman';
    letter-spacing: 6px;
    margin-bottom: 20px;
}

.footer-logo{
    width: 170px;
}

footer ul{
    display: flex;
    margin: 0 auto;
    /* justify-content: space-between; */
}

.footer-nav{
    width: 900px;
}

.footer-nav li{
    font-size: 15px;
    font-family: Arial;
    flex-grow: 1;
    flex-basis: 0;
    margin-top: 25px;
    margin-bottom: 25px;
}
.footer-nav a:hover{
    color: #FFDC59;
}


.footer-icon{
    width: 280px;
    background-blend-mode: darken;
    margin-bottom: 30px;
}

.footer-icon img{
    width: 40px
}

.footer-icon li{
    flex-grow: 1;
    flex-basis: 0;
}

footer p{
    color: white;
    font-size: 12px;
    line-height: 1.8;
}

/* footer end */