@import url("reset.css");


body{
    color: black;
    font-family: 'Times New Roman','Arail','Noto Sans TC', sans-serif;
    /* 'PMingLiU' */
}

a{
    text-decoration: none;
    text-align: center;
    color: white;
    display: block;
}

/* header start */

header{
    background-image: url(../img/index_main_videobn.png);
    background-repeat: no-repeat;
    background-position:center center;
    background-size:cover;
    height: 800px;
}

.header-title{
    margin-top: 150px;
}

.header-title h1{
    color: #FFDC59;
    font-size: 48px;
    letter-spacing: 24px;
    text-align: center;
}

.header-title h2{
    color: white;
    font-family: 'Times New Roman';
    font-size: 86px;
    letter-spacing: 10px;
    text-align: center;
    /* animation: titleh2 .4s cubic-bezier(0,.63,.4,.80) forwards; */
}

.header-title h3{
    color: white;
    font-family: 'Times New Roman';
    font-size: 36px;
    letter-spacing: 4px;
    text-align: center;
    /* animation: titleh3 .4s cubic-bezier(0,.63,.4,.80) forwards; */
}

/* @keyframes titleh2{
	0%{
		transform:scale(0) ; opacity:0;
	}
	100%{
		transform: scale(1); opacity: 1;
	}
} */

/* @keyframes titleh3{
	0%{
		transform:scale(0) ; opacity:0;
	}
	100%{
		transform: scale(1); opacity: 1;
	}
} */


.header-title2{
    background-color: #FFDC59;
    width: 1000px;
    height: 200px;
    position: absolute;
    top: 750px;
    left: 100px;
}

.header-title2 h4{
    font-size: 24px;
    letter-spacing: 4px;
    text-align: center;
    padding-top: 50px;
}

.header-title2 p{
    font-family: Arial;
    font-size: 14px;
    letter-spacing: 3px;
    text-align: center;
    padding-top: 18px;
}


.scroll p{
    color: white;
    letter-spacing: 5px;
    /* writing-mode: vertical-rl; 文字變直*/
}

.scroll span{
    /* content: ""; */
    display: inline-block;
    width: 60px;
    height: 2px;
    background-color: white;
}

.scroll{
    width: 160px;
    height: 12px;
    position: absolute;
    transform:rotate(90deg);
    bottom: -230px;
    left: -55px;
}
/* header end */


/* container 最外層*/

.container{
    background-image: url(../img/backgroundbn.png) ;
    background-repeat: left top repeat ;
}

/* .container::after{
    content: "";
    display: block;
    clear: both;
} */



/* introitemlist */
.introlist {
    max-width: 1000px;
    box-sizing: border-box;
    margin: 0 auto;
}

/* introitem li*3 */
.introlist .introitem1{
    display: flex;
    padding-top: 220px;
    flex-direction: row-reverse;
    align-items: center;
}

.introlist .introitem2{
    display: flex;
    margin-top: 100px;
    align-items: center;
}

.introlist .introitem3{
    display: flex;
    margin-top: 100px;
    flex-direction: row-reverse;
    align-items: center;
}

.introlist > li{
    position: relative;
}


/* intro-index-插圖 */
.introlist .index-pic01{
    position: absolute;
    top: 150px;
    left: 203px;
}

.introlist .index-pic02{
    position: absolute;
    top: 225px;
    left: -106px;
}

.introlist .index-pic03{
    position: absolute;
    top: -92px;
    left: 500px;
}

.introlist .index-pic04{
    position: absolute;
    top: 500px;
    left: 333px;
}

.introlist .index-pic05{
    position: absolute;
    top: -148px;
    left: 685px;
}

.introlist .index-pic06{
    position: absolute;
    top: 497px;
    left: 205px;
}

.introlist .index-pic07{
    position: absolute;
    top: 545px;
    left: 190px;
}
/* intro-index-插圖 end */


/* introimg 拍立得 */
.introimg{
    width: 500px;
    height: 500px;
    background-color: white;
    box-shadow: 10px 10px 5px gainsboro;
}

.introimg img{
    width: 480px;
    height: 400px;
    display: block;
    margin-left: 12px;
    margin-top: 12px;
}



.introimg p{
    text-align: center;
    font-family: Arial;
    margin-top: 14px;
    line-height: 1.6;
}


/* intro-text */
.intro-text{
    display: inline-block;
    margin-right: auto;
}

.introitem2 .intro-text{
    margin-left: 198px;
}

.intro-text-bg{
    background-image: url(../img/notebook.png);
    width: 300px;
    height: 200px;
}

.intro-text-bg h5{
    font-size: 30px;
    letter-spacing: 3px;
    text-align: center;
    padding-top: 40px ;
}

.intro-text p{
    font-size: 18px;
    text-align: center;
    line-height: 1.6;
}

.intro-bottom{
    background-image: url(../img/indexbn04.jpg);
    background-repeat: no-repeat;
    background-position:center center;
    background-size:cover;
    height: 690px;
    margin-top: 200px;
}

.intro-bottom-box{
    width: 1200px;
    margin: 0 auto;
}

.intro-bottom h6{
    padding-top: 120px;
    color: #213375;
    font-family: 'Times New Roman';
    font-size: 48px;
    letter-spacing: 18px ;
    text-align: center;
}

.intro-bottom p{
    color: white;
    font-size: 40px;
    margin-left: 20px;
    margin-top: 218px;
}

.intro-bottom img{
    margin-left: 160px;
    display: block;
}

/* container 最外層 end*/

