
/* header 最外層 */
.wrapper{
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

/* header main nav */
.main-nav img{
    width: 170px;
}

.main-nav{
    font-family: Arial;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding-top: 15px
}

.main-nav ul{
    display: flex;
    width: 800px;
    margin-left: 308px ;
}

.main-nav li{
    font-size: 15px;
    flex-grow: 1;
    flex-basis: 0;
}

.main-nav a{
    line-height: 40px;
}

.main-nav a:hover{
    color: #FFDC59;
}
/* header main nav end */

/* header right nav */
.right-nav{
    width: 40px;
    float: right;
    padding-top: 170px;
}

.right-nav img{
    width: 30px;
    padding-top: 10px;
}
/* header right nav end */


/* footer start */
footer{
    height: 550px;
    background-color:#213375 ;
    text-align: center;
}

footer h1{
    color: white;
    font-size: 30px;
    letter-spacing: 20px;
    line-height: 1.6;
    padding-top: 48px;
}

footer h2{
    color: #FFDC59;
    font-size: 30px;
    font-family: 'Times New Roman';
    letter-spacing: 6px;
    margin-bottom: 20px;
}

.footer-logo{
    width: 170px;
}

footer ul{
    display: flex;
    margin: 0 auto;
    /* justify-content: space-between; */
}

.footer-nav{
    width: 900px;
}

.footer-nav li{
    font-size: 15px;
    font-family: Arial;
    flex-grow: 1;
    flex-basis: 0;
    margin-top: 25px;
    margin-bottom: 25px;
}
.footer-nav a:hover{
    color: #FFDC59;
}


.footer-icon{
    width: 280px;
    background-blend-mode: darken;
    margin-bottom: 30px;
}

.footer-icon img{
    width: 40px
}

.footer-icon li{
    flex-grow: 1;
    flex-basis: 0;
}

footer p{
    color: white;
    font-size: 12px;
    line-height: 1.8;
}

/* footer end */


/* Totopbuttom */
.totop-arrow {
	width: 2.5rem;
	height: 2.5rem;
	padding: 0;
	margin: 0;
	border: 0;
	background: #FFDC59;
	cursor: pointer;
	position:fixed;
	right: 1rem;
	bottom: 1rem;
	display: none;
}
.totop-arrow::before, .totop-arrow::after {
	width: 18px;
	height: 5px;
	border-radius: 2px;
	background: #213375;
	position: absolute;
	content: "";
}
.totop-arrow::before {
	transform: rotate(-45deg) translate(0, -50%);
	left: 0.5rem;
}
.totop-arrow::after {
	transform: rotate(45deg) translate(0, -50%);
	right: 0.5rem;
}
.totop-arrow:focus {outline: none;}