@import url("reset.css");


body{
    color: black;
    font-family: 'Times New Roman','Arail','Noto Sans TC', sans-serif;
    /* 'PMingLiU' */
}

a{
    text-decoration: none;
    text-align: center;
    color: white;
    display: block;
}

P{
    line-height: 1.4;
}

header{
    background-image: 
    linear-gradient(to bottom, rgba(156, 156, 156, 0.6) 0%, 
    rgba(255, 255, 255, 0) 30%),url(../img/photo_mian_bn.jpg);
    background-repeat: no-repeat;
    background-position:center center;
    background-size:cover;
    height: 750px;
}


/* header 最外層 */
.wrapper{
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

/* header main nav */
.main-nav img{
    width: 120px;
}

.main-nav{
    font-family: Arial;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding-top: 50px

}

.main-nav ul{
    display: flex;
    width: 800px;
    margin-left: 308px ;
    /* padding-left: 250px; */
}

.main-nav li{
    font-size: 15px;
    flex-grow: 1;
    flex-basis: 0;
}

.main-nav a{
    line-height: 40px;
}

.main-nav a:hover{
    color: #FFDC59;
}

.main-nav li:nth-child(4) a{
    color: #FFDC59;
}
/* header main nav end */

/* header right nav */
.right-nav{
    width: 40px;
    float: right;
    padding-top: 217px;
}

.right-nav img{
    width: 30px;
}


.main_title h1{
    color: #FFDC59;
    font-size: 64px;
    letter-spacing: 12px;
    margin: 180px 0px 20px 0px;
    line-height: 1.2;
}

.main_title h2{
    color: #FFDC59;
    font-size: 48px;
    letter-spacing: 12px;
}

.main_title{
    padding-left: 80px;
}

/* header 最外層  end*/

/* container 最外層 */
.container{
    background-image: url(../img/backgroundbn.png) ;
    background-repeat: left top repeat ;
    overflow: hidden;
}

.container img{
    width: 100%;
}

.section_wrapper{
    width: 1200px;
    margin: 0 auto;
}



/* breadcrumbs 麵包屑 */
.breadcrumb{
    display: flex;
    padding-top: 32px;
    margin-top: 60px;
}
.breadcrumb a{
    color: #213375;
    line-height: 30px;
}

.breadcrumb_list{
    background-color: #FFDC59;
    width: 50px;
    height: 30px;
    border-radius: 10px;
}

.breadcrumb a:hover{
    color: #FFDC59 ;
}

.breadcrumb_list + li::before{
    content: '>';
    display: inline-block;
    padding: 10px;
    color: #213375;
  }

.breadcrumb_list:hover{
    background-color: #213375;
}

.current{
    background-color: #C0E3EE;
    width: 42px;
    height: 25px;
    border-radius: 10px;
    color: #213375;
    padding-top: 8px;
    padding-left: 7px ;
}
/* breadcrumbs 麵包屑 end */

/* ----------section start --------*/
/* ig part */
h4{
    color: #828282;
    text-align: center;
    font-size: 30px;
    margin: 30px 0px;
    letter-spacing: 5px;
}

.ig_icon{
    margin: 0 450px;
    width: 100px;
    height: 100px;
    display: flex;
}

.ig_icon img{
    width: 100%;
}

.ig_account_text{
    margin-top: 25px;
    color: #828282;
    font-size: 18px;
    padding-left: 20px;

}

.ig_photo{
    display: flex;
    justify-content: space-between;
}

.ig_photo li{
    display: flex;
}

.ig_ifm{
    padding-bottom: 100px;
}

.photo_area{
    display: flex;
    justify-content: center;
}

.photo_area img{
    display: block;
}

.photo_left{
    padding-right: 20px;
    width: 500px;
}

.photo_item{
    width: 240px;
    padding: 0px 20px 20px 0px;
}

.photo_more_wp{
    padding: 43px 0px;
}

.photo_buttom{
    width: 140px;
    height: 50px;
    background-color: #CEB8A3;
    border: #213375 2px solid;
    border-radius: 9px;
    margin: 0 auto;
}

.photo_buttom a{
    color: #213375;
    font-size: 24px;
    line-height: 50px;
    font-weight: bold;
    letter-spacing: 3px;
}

.photo_buttom:hover{
    background-color: #213375;
    border: #CEB8A3 2px solid;
}

.photo_buttom a:hover{
    color: #CEB8A3;
}

.ig_circle_bg{
    background-color: #213375;
    width: 290px;
    height: 290px;
    border-radius: 50%;
    margin: 0 450px;
    box-shadow: -90px 0px 0px #CEB8A3;
}


.ig_infro_text{
    padding: 60px 40px;
}

.ig_infro_text p{
    color: #CEB8A3;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.ig_infro_text a{
    display: block;
    font-size: 20px;
    font-weight: bold;
}
.ig_infro_text a:hover{
    color: #FFDC59;
}
/* ig part end*/

/* section bottom */
.bottom_wrapper{
    background-image: url(../img/photo_bottombn.jpg);
    background-repeat: no-repeat;
    background-position:center center;
    background-size:cover;
    height: 330px;
}

.photo_title{
    display: flex;
    justify-content: center;
    margin: 110px 0px;
}

.photo_pic{
    width:50px;
}

.photo_title_h3{
    color: #213375;
    font-size: 20px;
    padding-left: 20px;
    letter-spacing: 2px;
    line-height: 1.3;
}

/* section photo flex grow */
.photo_flex_grow{
    width: 1200px;
    height: 500px;
    outline: 2px solid #213375;
    border-radius: 8px;
    margin: 0 auto;
    display: flex;
    margin-bottom: 80px;
}

.photo_flex_grow li{
    background-size: cover;
    background-position: center center;
    transition: .9s;
    border: 8px #C0E3EE solid;
}

.photo01{
    background-image: url(../img/photo_bottombn02.jpg);
    flex-grow: 2;
}

.photo02{
    background-image: url(../img/photo_bottombn03.jpg);
    flex-grow: 2;
}

.photo03{
    background-image: url(../img/photo_bottombn04.jpg);
    flex-grow: 2;
}

.photo_flex_grow li:hover{
    flex-grow: 9;
}
/* section bottom end */
/* ----------section start --------*/



/* Totopbuttom */
.totop-arrow {
	width: 2.5rem;
	height: 2.5rem;
	padding: 0;
	margin: 0;
	border: 0;
	border-radius: 20%;
	/* opacity: 0.9; */
	background: #FFDC59;
	cursor: pointer;
	position:fixed;
	right: 1rem;
	bottom: 1rem;
	display: none;
}
.totop-arrow::before, .totop-arrow::after {
	width: 18px;
	height: 5px;
	border-radius: 3px;
	background: #213375;
	position: absolute;
	content: "";
}
.totop-arrow::before {
	transform: rotate(-45deg) translate(0, -50%);
	left: 0.5rem;
}
.totop-arrow::after {
	transform: rotate(45deg) translate(0, -50%);
	right: 0.5rem;
}
.totop-arrow:focus {outline: none;}




/* footer start */
footer{
    height: 550px;
    background-color:#213375 ;
    text-align: center;
}

footer h1{
    color: white;
    font-size: 30px;
    letter-spacing: 20px;
    line-height: 1.6;
    padding-top: 48px;
}

footer h2{
    color: #FFDC59;
    font-size: 30px;
    font-family: 'Times New Roman';
    letter-spacing: 6px;
    margin-bottom: 20px;
}

.footer-logo{
    width: 170px;
}

footer ul{
    display: flex;
    margin: 0 auto;
    /* justify-content: space-between; */
}

.footer-nav{
    width: 900px;
}

.footer-nav li{
    font-size: 15px;
    font-family: Arial;
    flex-grow: 1;
    flex-basis: 0;
    margin-top: 25px;
    margin-bottom: 25px;
}
.footer-nav a:hover{
    color: #FFDC59;
}


.footer-icon{
    width: 280px;
    background-blend-mode: darken;
    margin-bottom: 30px;
}

.footer-icon img{
    width: 40px
}

.footer-icon li{
    flex-grow: 1;
    flex-basis: 0;
}

footer p{
    color: white;
    font-size: 12px;
    line-height: 1.8;
}

/* footer end */