@import url("reset.css");


body{
    color: black;
    font-family: 'Times New Roman','Arail','Noto Sans TC', sans-serif;
    /* 'PMingLiU' */
}

a{
    text-decoration: none;
    text-align: center;
    color: white;
    display: block;
}

P{
    line-height: 1.4;
}

header{
    background-image: url(../img/routes_mainbn.jpg);
    background-repeat: no-repeat;
    background-position:center center;
    background-size:cover;
    height: 850px;
}


/* header 最外層 */
.wrapper{
    width: 1200px;
    margin: 0 auto;
}

/* header main nav */
.main-nav img{
    width: 120px;
}

.main-nav{
    font-family: Arial;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding-top: 50px
}

.main-nav ul{
    display: flex;
    width: 800px;
    margin-left: 308px ;
    /* padding-left: 250px; */
}

.main-nav li{
    font-size: 15px;
    flex-grow: 1;
    flex-basis: 0;
}

.main-nav a{
    line-height: 40px;
}

.main-nav a:hover{
    color: #FFDC59;
}

.main-nav li:nth-child(2) a{
    color: #FFDC59;
}
/* header main nav end */

/* header right nav */
.right-nav{
    width: 40px;
    float: right;
    padding-top: 217px;
}

.right-nav img{
    width: 30px;
}

.main_title{
    padding-top: 200px;
    margin: 0 auto;
    width: 460px;
    border-bottom: #FFDC59 10px solid;
    
}

.main_title h1{
    color: white;
    font-size: 100px;
    text-align: center;
    letter-spacing: 15px;
    margin-bottom: 10px;
}

h2{
    color: white;
    font-size: 40px;
    text-align: center;
    margin-top: 40px;
    letter-spacing: 8px;
}
/* header 最外層  end*/


/* container 最外層 */
.container{
    background-image: url(../img/backgroundbn.png) ;
    background-repeat: left top repeat ;
    overflow: hidden;
}

.container img{
    width: 100%;
}

.section_wrapper{
    width: 1200px;
    margin: 0 auto;
}

/* breadcrumbs 麵包屑 */
.breadcrumb{
    display: flex;
    padding-top: 32px;
    margin-bottom: 20px;
}
.breadcrumb a{
    color: #213375;
    line-height: 30px;
}

.breadcrumb_list{
    background-color: #FFDC59;
    width: 50px;
    height: 30px;
    border-radius: 10px;
}

.breadcrumb a:hover{
    color: #FFDC59 ;
}

.breadcrumb_list + li::before{
    content: '>';
    display: inline-block;
    padding: 10px;
    color: #213375;
  }

.breadcrumb_list:hover{
    background-color: #213375;
}

.current{
    background-color: #C0E3EE;
    width: 50px;
    height: 25px;
    border-radius: 10px;
    color: #213375;
    padding-top: 6px;
    padding-left: 6px ;
}
/* breadcrumbs 麵包屑 end */


/* ------section----------  */
/* ----------routes map---------  */
.map_bg{
    background-color: #213375;
    width: 1200px;
    height: 820px;
}

.map_bn{
    width: 760px;
    height: 770px;
    float: right;
    padding: 110px 120px 50px 0;
}

.map_bn img{
    width: 100%;
}

.map_left_nav{
    width: 320px;
    padding-top: 320px;
    position: relative;
}

.third_title{
    color: white;
    font-size: 36px;
    padding: 0 0 20px 150px;    
}

.routes_buttom{
    width: 200px;
    height: 283px;
    background-color: #FFDC59;
    margin-left: 120px;
}
.routes_buttom a{
    display: block;
    color: #213375;
    font-size: 18px;
    margin-bottom: 8px;
    padding-top: 14px;
}

.routes_buttom a:hover{
    color: white;
}
.routes_color_list{
    width: 25px;
    height: 283px;
    background-color: #FFDC59;
    position: absolute;
    left: 100px;
}

.routes_color{
    width: 18px;
    padding-top: 13px;
    padding-left: 16px;
    margin-bottom: 7px;
}
/* ----------routes map end---------  */

/* routes list 朝聖之路介紹 */

/* routes area one 第一區 */
.routes_title{
    display: flex;
    width: 1200px;
}

.routes_title .pic01{
    width:50px;
    padding-left: 420px;
}

h4{
    font-size: 40px;
    font-weight: bold;
    padding-top: 5px;
}

.routes_container{
    width: 1200px;
    margin: 0 auto;
}

.routes_cards{
    position: relative;
    width: 580px;
    float: left;
    margin: 60px 10px 60px 10px;

}

.routes_cards img{
    display: block;
    width: 100%;

}

.routes_info{
    opacity: 0;
    position: absolute;
    box-sizing: border-box;
    background-color: rgba(0,0,0,.3);
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: 60px;
    -webkit-transition:.5s ease-out;
}

.routes_info h5{
    color: white;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 5px;
    padding-bottom: 80px;
    text-align: center;
}

.routes_info p{
    color: #ffffff;
    font-size: 22px;
    letter-spacing: 3px;
    padding-left: 40px;
}

.routes_info:hover{
    margin-top: 0;
    opacity: 1;
}
/* routes area one 第一區 end */

/* routes area one 第二區 */

.routes_container2{
    width: 1200px;
    margin: 0 auto;
}

.routes_cards2{
    position: relative;
    width: 380px;
    float: left;
    margin: 10px 10px 60px 10px;
}

.routes_cards2 img{
    display: block;
    width: 100%;
}

.routes_info2{
    opacity: 0;
    position: absolute;
    box-sizing: border-box;
    background-color: rgba(0,0,0,.3);
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: 60px;
    -webkit-transition:.5s ease-out;
}

.routes_info2 h5{
    color: white;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 5px;
    padding-bottom: 80px;
    text-align: center;
}

.routes_info2 p{
    color: #ffffff;
    font-size: 22px;
    letter-spacing: 3px;
    padding-left: 40px;
}

.routes_info2:hover{
    margin-top: 0;
    opacity: 1;
}
/* routes area one 第二區 end */

/* routes area one 第三區 */
.routes_container3{
    width: 1200px;
    margin: 0 auto;
}

.routes_cards3{
    position: relative;
    width: 580px;
    float: left;
    margin: 10px 10px 70px 10px;
}

.routes_cards3 img{
    display: block;
    width: 100%;

}

.routes_info3{
    opacity: 0;
    position: absolute;
    box-sizing: border-box;
    background-color: rgba(0,0,0,.3);
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: 60px;
    -webkit-transition:.5s ease-out;
}

.routes_info3 h5{
    color: white;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 5px;
    padding-bottom: 80px;
    text-align: center;
}

.routes_info3 p{
    color: #ffffff;
    font-size: 22px;
    letter-spacing: 3px;
    padding-left: 60px;
}

.routes_info3:hover{
    margin-top: 0;
    opacity: 1;
}
/* routes area one 第三區 end */

/* routes list 朝聖之路介紹 end */




/* -------section end--------  */

/* Totopbuttom */
.totop-arrow {
	width: 2.5rem;
	height: 2.5rem;
	padding: 0;
	margin: 0;
	border: 0;
	border-radius: 20%;
	/* opacity: 0.9; */
	background: #FFDC59;
	cursor: pointer;
	position:fixed;
	right: 1rem;
	bottom: 1rem;
	display: none;
}
.totop-arrow::before, .totop-arrow::after {
	width: 18px;
	height: 5px;
	border-radius: 3px;
	background: #213375;
	position: absolute;
	content: "";
}
.totop-arrow::before {
	transform: rotate(-45deg) translate(0, -50%);
	left: 0.5rem;
}
.totop-arrow::after {
	transform: rotate(45deg) translate(0, -50%);
	right: 0.5rem;
}
.totop-arrow:focus {outline: none;}




/* footer start */
footer{
    height: 550px;
    background-color:#213375 ;
    text-align: center;
}

footer h1{
    color: white;
    font-size: 30px;
    letter-spacing: 20px;
    line-height: 1.6;
    padding-top: 48px;
}

footer h2{
    color: #FFDC59;
    font-size: 30px;
    font-family: 'Times New Roman';
    letter-spacing: 6px;
    margin-bottom: 20px;
}

.footer-logo{
    width: 170px;
}

footer ul{
    display: flex;
    margin: 0 auto;
    /* justify-content: space-between; */
}

.footer-nav{
    width: 900px;
}

.footer-nav li{
    font-size: 15px;
    font-family: Arial;
    flex-grow: 1;
    flex-basis: 0;
    margin-top: 25px;
    margin-bottom: 25px;
}
.footer-nav a:hover{
    color: #FFDC59;
}


.footer-icon{
    width: 280px;
    background-blend-mode: darken;
    margin-bottom: 30px;
}

.footer-icon img{
    width: 40px
}

.footer-icon li{
    flex-grow: 1;
    flex-basis: 0;
}

footer p{
    color: white;
    font-size: 12px;
    line-height: 1.8;
}

/* footer end */